@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Raleway:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --wyay-primary: #2c90e3;
}

html,body,*{
    -webkit-box-sizing:border-box;box-sizing:border-box;font-family:"Raleway","Noto Sans TC","Roboto"
}
html, body {
    @apply w-screen h-screen max-w-[100vw] max-h-[100vh] overflow-hidden;
    font-family: "Neue Montreal";
}

.app-container {
    @apply relative w-full h-full
}

.pre-loader {
    @apply fixed top-0 w-full h-full;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.loader {
    @apply absolute top-0 w-full h-full bg-black text-white flex justify-center items-center;
}
.loader-content {
    @apply absolute top-[50%] left-[50%] flex w-[450px]  text-white;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.count {
    flex: 2;
    line-height: 1;
    padding: 0 1em;
    @apply text-right
}
.copy {
    flex: 6;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.ml16 {
    @apply overflow-hidden
}

.ml16 .letter {
    @apply inline-block;
    line-height: 1em;
}

.loader-bg {
    @apply absolute block top-0 w-full h-full;
    z-index: -1;
    background-color: #2c90e3;
}
.loader-2 {
    @apply absolute top-0 w-full h-full;
    background: url('../img/wyay-kv2.png') no-repeat 50% 50%;
    background-size: cover;
    z-index: -1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.site-content {
    @apply relative;
    z-index: -2;
}
nav {
    @apply w-full p-[2em] flex relative;
    z-index: 999;
}
nav.mq {
    @apply fixed
}
a {
    @apply text-black;
}
nav div {
    flex: 1;
}
.links {
    @apply flex justify-end gap-[5em] cursor-pointer;

}
.site-content.reveal {
    z-index: 0;
}

.links a:hover {
    @apply text-[--wyay-primary]
}
.links a {
    @apply relative cursor-pointer inline-flex
}
.links.w a:hover {
    @apply text-white;
}
.links a.active:after {
    @apply content-[''] absolute top-[120%] h-1 w-4 bg-[--wyay-primary] z-10 ;
    left: calc(50% - 8px);
}
.links.w a.active:after {
    @apply  bg-white;
}
.header {
    @apply flex p-[1em] pt-20 md:pt-10;
}
.header h1 {
    flex:1;
    font-size: 15vw;
    font-family: "Allerta Stencil";
    text-transform: uppercase;
    line-height: 1;
    @apply relative text-center justify-center items-center;
}
footer {
    @apply fixed bottom-0 w-full flex items-end p-[2em];
}
footer div {
    flex: 1;
}
.footer-copy p {
    width: 50%;
}
.footer-nav {
    @apply flex gap-[2em] justify-end;
}
.img {
    width: 225px;
    height: 225px;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
.img:nth-child(1) {
    background: url('../img/banner.png') no-repeat 50% 50%;
    background-size: cover;
}
.img:nth-child(2) {
    background: url('../img/wyay-kv1.png') no-repeat 50% 50%;
    background-size: cover;
}
.logo {
    @apply max-w-[65px] max-h-[65px]
}
.cursor {
    @apply absolute top-0 left-0 text-6xl;
    z-index: 1000;
}
.mbimg img {
    @apply w-full h-full object-cover;
}
.marquee-container {
    @apply w-screen h-screen overflow-hidden;
}
.overlay {
    @apply absolute top-0 left-0 w-full h-full overflow-hidden z-0;
}
.marquee-wrapper {
    @apply absolute top-0 left-0 w-full h-full bg-white;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.marquee-wrapper.t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}
.marquee-wrapper h1 {
    @apply absolute top-[50%] left-[-100%] translate-x-[-50%] text-center uppercase w-full whitespace-nowrap;
    font-size: 240px;
    font-weight: 400;
    font-family: "Allerta Stencil";
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translate(0%, -50%); }
    50% { transform: translate(-5%, -50%); }
    50.5% { transform: translate(-5%, -50%); }
    100% { transform: translate(0%, -50%); }
}

.modal {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[500px] h-[700px];
}

.modal-images {
    @apply w-full h-[600px];
}
.role {
    margin: 5px 0;
}
.mbimg {
    @apply absolute w-full h-[600px];
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.mbimg#t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}
.info {
    position: relative;
    margin-top: 720px;
    z-index: 1;
    text-align: center
}
.name {
    font-weight: 700;
    font-size: 24px;
}
.t-1 {
    @apply bg-[#B44C5D];
}
.t-2 {
    @apply bg-[#96C0BA];
}
.t-3 {
    @apply bg-[#dbcbc0];
}
.t-4 {
    @apply bg-pink-500;
}
.t-5 {
    @apply bg-[#F1EDEA];
}

.status-tag-wrap {
    @apply absolute z-20 top-0 left-0 w-full flex gap-2 py-2
}
.status-tag {
    @apply bg-black text-white p-4 py-2 inline-flex justify-center items-center
}

@media(max-width: 900px) {
    footer {
        flex-direction: column;
        gap: 2em;
    }
    .footer-copy p {
        @apply w-full;
    }
    .footer-nav {
        @apply w-full;
    }
    .modal {
        width: 300px;
        height: 500px;
        @apply top-[43%]
    }
    .modal-images {
        width: 100%;
        height: 500px;
    }
    .mbimg {
        width: 100%;
        height: 500px;
    }
    .info {
        position: relative;
        margin-top:650px;
        z-index: 1;
        text-align: center
    }
    /* 把選擇題變成填空題了 */
}
